<span class="navbar-brand flex-grow-1 ml-2">
    <a class="btn btn-block link-light border-white"
       asp-controller="Home" asp-action="Index">Groenten en fruit</a>
    <a class="btn btn-block link-light border-white"
       asp-controller="Artikels" asp-action="Index">Artikels</a>
    <a class="btn btn-block link-light border-white"
       asp-controller="AankoopOrders" asp-action="Index">Aankoop orders</a>
</span>