@page "/display-object-name"
@using WebRecap.Services.Interfaces
@inject IStringNames StringNames

@code {
    [Parameter]
    public string ObjectName { get; set; }
}


@if (ObjectName == "DbContextName")
{@StringNames.DbContextName}
else if (ObjectName == "DbContextname")
{@StringNames.DbContextname}
else if (ObjectName == "RazorPageName")
{@StringNames.RazorPageName}
else if (ObjectName == "SolutionName")
{@StringNames.SolutionName}
else if (ObjectName == "ModelName")
{@StringNames.ModelName}
else
{
    <span>Unknown Model Name</span>
}

@code {
    protected override void OnInitialized()
    {
        StringNames.OnChange += StateHasChanged;  
    }

    public void Dispose()
    {
        StringNames.OnChange -= StateHasChanged;  
    }
}
