@model MvcGroentenEnFruit2024_2.Models.Artikel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <artikel artikel-id="Model.ArtikelId"></artikel>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
