@page
@model Oefening1Klanten.Pages.LocatieDetailsModel
@{
    var id = Model.LocatieId;
    var row = Data.Databank.Locaties.Where(x => x.LocatieId == id).FirstOrDefault();
    var postCode = (row != null) ? row.PostCode : "";
    var gemeente = (row != null) ? row.Gemeente : "";
}
<div>
    <h1>Locatie details</h1>
    <br/>
    Id: @id
    <br/>
    Postcode: @postCode
    <br/>
    Gemeente: @gemeente
</div>
