@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<span>
    
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-block link-light border-danger m-1">Welcome @User.Identity.Name</a>
        <a class="btn btn-block link-light border-danger m-1"
        asp-controller="Account" asp-action="Logout">Logout</a>
    }
    else
    {
        <a class="btn btn-block link-light border-danger m-1"
           asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-block link-light border-danger m-1"
           asp-controller="Account" asp-action="Login">Login</a>
    }

</span>