@*@page
@model ShopApplication.Pages.Home.IndexModel
@{
}
*@
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our Home Page my dude!</p>
</div>