@page
@model Slide2.Pages.KlantModel
@{
    var Klanten = Slide2.Data.Databank.Klanten;
    var rowId = 0;
}
<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
    <h1 class="display-4">Klanten</h1>
    <p>Dit is onze klanten razor page.</p>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">KlantId</th>
                <th scope="col">KlantNaam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var klant in Klanten)
            {
                rowId++;
                <tr>
                    <th scope="row">@rowId</th>
                    <td>@klant.KlantId</td>
                    <td>@klant.KlantNaam</td>
                </tr>
            }
        </tbody>
    </table>
</div>
